<!DOCTYPE html>
<html>
<head>
	<title>Word Counter</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
	<title>Word Counter</title>
</head>
<body>
<h1>Welcome! to Word counter</h1>
	<form action="{% url 'count' %}">
		<textarea name="fulltext" id="fulltext" cols="40" rows="5"></textarea>
		<br>
		<button type="submit">Submit</button>
	</form>
<footer class="container-fluid bg-dark my-0 py-3 text-light">
    <p class="mb-0 text-center">© 2021-2022 Shivam Srivastava</p>
    <p class="mb-0 text-center">
    </p>

  </footer>
</body>
</html>

</body>
</html>